<!DOCTYPE html>
<html>
  <head>
    <title>Proanswer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/def881b080.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Proanswer</h1>
      <div class="header-list">
      <ul>
        <li><%= link_to "トップページ",root_path %></li>
        <li><%= link_to "新規登録", new_user_registration_path %></li>
        <li><%= link_to "ログイン",new_user_session_path %></li>
        <li><%= link_to "新規投稿",new_tweet_path %></li>
        <li><%= link_to "一覧ページ",tweets_path %></li>
      </ul>
      </div>
    </header>
    
    <main>
      <%= yield %>
    </main>
    <footer>
    <small>Copyright© proanswer All rights Reserved </small>
    </footer>
  </body>
</html>
